# Bases de datos SQLite y temporales (Buscador de Contenido)
content_index*.db*

# Archivos de configuración local
content_locations.json
historial_busquedas.json
config.json

# Python y Compilacin
__pycache__/
*.pyc
build/
dist/
*.spec
*.pkl

# Logs
app_log.txt
app_log-*.txt
